*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img{
    max-width: 120px;
    height: auto;
}

.navmenu{
    display: flex;
}
.navmenu a{
    color: #c793f5;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: rebeccapurple;
}

.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: rebeccapurple;
}

#menu-icon{
    font-size: 35px;
    color: #000;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 5% 10%;
}
.contact{
    background-color: #fff;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
} 
.contact-info h4{
    color: rebeccapurple;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #b780f2;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #000;
}

.social i{
    color:#4f4b5c;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social i:hover{
    transform: scale(1.3);

}
.end{
    background-color: #d4c8fa;
    text-align: center;
    padding: 20px;
}
.end p{
    color: #0f0729;
    text-transform: capitalize;
}


@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background:#d4c8fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}

/*blog*/

.main-blog{
    width: 100%;
    height: 100vh;
    background-image: url(banner-2.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 5% 10%;
}

.main-tex h5{
    color: #e9a3e9;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-tex h1{
    color:#b780f2;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-tex p{
    color: rebeccapurple;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.mis h1{
    color:rebeccapurple;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.mis p{
    color: rgb(173, 128, 219);
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
